container/WSDL/cache/KandH-kgfb.Test.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6hudson-86  svn-revision#12773. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.gfb.insurance.khab.aamtech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.gfb.insurance.khab.aamtech.com/" name="GFBCalculatorBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.gfb.insurance.khab.aamtech.com/" schemaLocation="https://ws.atollgroup.eu/secure_weblogic/KHAB_WS/KHAB_WS_ENT-war/GFBCalculatorBeanService.xsd"/>
</xsd:schema>
</types>
<message name="dijatKalkulal2009">
<part name="parameters" element="tns:dijatKalkulal2009"/>
</message>
<message name="dijatKalkulal2009Response">
<part name="parameters" element="tns:dijatKalkulal2009Response"/>
</message>
<message name="CalculatorException">
<part name="fault" element="tns:CalculatorException"/>
</message>
<message name="szerzodestKot2011">
<part name="parameters" element="tns:szerzodestKot2011"/>
</message>
<message name="szerzodestKot2011Response">
<part name="parameters" element="tns:szerzodestKot2011Response"/>
</message>
<message name="alair2011">
<part name="parameters" element="tns:alair2011"/>
</message>
<message name="alair2011Response">
<part name="parameters" element="tns:alair2011Response"/>
</message>
<message name="dokumentumGeneral2011">
<part name="parameters" element="tns:dokumentumGeneral2011"/>
</message>
<message name="dokumentumGeneral2011Response">
<part name="parameters" element="tns:dokumentumGeneral2011Response"/>
</message>
<message name="statuszLeker2011">
<part name="parameters" element="tns:statuszLeker2011"/>
</message>
<message name="statuszLeker2011Response">
<part name="parameters" element="tns:statuszLeker2011Response"/>
</message>
<message name="alair2012">
<part name="parameters" element="tns:alair2012"/>
</message>
<message name="alair2012Response">
<part name="parameters" element="tns:alair2012Response"/>
</message>
<message name="dokumentumGeneral2012">
<part name="parameters" element="tns:dokumentumGeneral2012"/>
</message>
<message name="dokumentumGeneral2012Response">
<part name="parameters" element="tns:dokumentumGeneral2012Response"/>
</message>
<message name="statuszLeker2012">
<part name="parameters" element="tns:statuszLeker2012"/>
</message>
<message name="statuszLeker2012Response">
<part name="parameters" element="tns:statuszLeker2012Response"/>
</message>
<message name="alair2013">
<part name="parameters" element="tns:alair2013"/>
</message>
<message name="alair2013Response">
<part name="parameters" element="tns:alair2013Response"/>
</message>
<message name="alair2014">
<part name="parameters" element="tns:alair2014"/>
</message>
<message name="alair2014Response">
<part name="parameters" element="tns:alair2014Response"/>
</message>
<message name="alair2015">
<part name="parameters" element="tns:alair2015"/>
</message>
<message name="alair2015Response">
<part name="parameters" element="tns:alair2015Response"/>
</message>
<message name="alair2016">
<part name="parameters" element="tns:alair2016"/>
</message>
<message name="alair2016Response">
<part name="parameters" element="tns:alair2016Response"/>
</message>
<message name="dokumentumGeneral2013">
<part name="parameters" element="tns:dokumentumGeneral2013"/>
</message>
<message name="dokumentumGeneral2013Response">
<part name="parameters" element="tns:dokumentumGeneral2013Response"/>
</message>
<message name="dokumentumGeneral2014">
<part name="parameters" element="tns:dokumentumGeneral2014"/>
</message>
<message name="dokumentumGeneral2014Response">
<part name="parameters" element="tns:dokumentumGeneral2014Response"/>
</message>
<message name="dokumentumGeneral2015">
<part name="parameters" element="tns:dokumentumGeneral2015"/>
</message>
<message name="dokumentumGeneral2015Response">
<part name="parameters" element="tns:dokumentumGeneral2015Response"/>
</message>
<message name="dokumentumGeneral2016">
<part name="parameters" element="tns:dokumentumGeneral2016"/>
</message>
<message name="dokumentumGeneral2016Response">
<part name="parameters" element="tns:dokumentumGeneral2016Response"/>
</message>
<message name="statuszLeker2013">
<part name="parameters" element="tns:statuszLeker2013"/>
</message>
<message name="statuszLeker2013Response">
<part name="parameters" element="tns:statuszLeker2013Response"/>
</message>
<message name="statuszLeker2014">
<part name="parameters" element="tns:statuszLeker2014"/>
</message>
<message name="statuszLeker2014Response">
<part name="parameters" element="tns:statuszLeker2014Response"/>
</message>
<message name="statuszLeker2015">
<part name="parameters" element="tns:statuszLeker2015"/>
</message>
<message name="statuszLeker2015Response">
<part name="parameters" element="tns:statuszLeker2015Response"/>
</message>
<message name="statuszLeker2016">
<part name="parameters" element="tns:statuszLeker2016"/>
</message>
<message name="statuszLeker2016Response">
<part name="parameters" element="tns:statuszLeker2016Response"/>
</message>
<message name="initDB">
<part name="parameters" element="tns:initDB"/>
</message>
<message name="initDBResponse">
<part name="parameters" element="tns:initDBResponse"/>
</message>
<message name="dijatKalkulal2010">
<part name="parameters" element="tns:dijatKalkulal2010"/>
</message>
<message name="dijatKalkulal2010Response">
<part name="parameters" element="tns:dijatKalkulal2010Response"/>
</message>
<message name="dijatKalkulal2011">
<part name="parameters" element="tns:dijatKalkulal2011"/>
</message>
<message name="dijatKalkulal2011Response">
<part name="parameters" element="tns:dijatKalkulal2011Response"/>
</message>
<message name="dijatKalkulal2012">
<part name="parameters" element="tns:dijatKalkulal2012"/>
</message>
<message name="dijatKalkulal2012Response">
<part name="parameters" element="tns:dijatKalkulal2012Response"/>
</message>
<message name="dijatKalkulal2013">
<part name="parameters" element="tns:dijatKalkulal2013"/>
</message>
<message name="dijatKalkulal2013Response">
<part name="parameters" element="tns:dijatKalkulal2013Response"/>
</message>
<message name="dijatKalkulal2014">
<part name="parameters" element="tns:dijatKalkulal2014"/>
</message>
<message name="dijatKalkulal2014Response">
<part name="parameters" element="tns:dijatKalkulal2014Response"/>
</message>
<message name="dijatKalkulal2015">
<part name="parameters" element="tns:dijatKalkulal2015"/>
</message>
<message name="dijatKalkulal2015Response">
<part name="parameters" element="tns:dijatKalkulal2015Response"/>
</message>
<message name="dijatKalkulal2016">
<part name="parameters" element="tns:dijatKalkulal2016"/>
</message>
<message name="dijatKalkulal2016Response">
<part name="parameters" element="tns:dijatKalkulal2016Response"/>
</message>
<message name="szerzodestKot2012">
<part name="parameters" element="tns:szerzodestKot2012"/>
</message>
<message name="szerzodestKot2012Response">
<part name="parameters" element="tns:szerzodestKot2012Response"/>
</message>
<message name="szerzodestKot2013">
<part name="parameters" element="tns:szerzodestKot2013"/>
</message>
<message name="szerzodestKot2013Response">
<part name="parameters" element="tns:szerzodestKot2013Response"/>
</message>
<message name="szerzodestKot2014">
<part name="parameters" element="tns:szerzodestKot2014"/>
</message>
<message name="szerzodestKot2014Response">
<part name="parameters" element="tns:szerzodestKot2014Response"/>
</message>
<message name="szerzodestKot2015">
<part name="parameters" element="tns:szerzodestKot2015"/>
</message>
<message name="szerzodestKot2015Response">
<part name="parameters" element="tns:szerzodestKot2015Response"/>
</message>
<message name="szerzodestKot2016">
<part name="parameters" element="tns:szerzodestKot2016"/>
</message>
<message name="szerzodestKot2016Response">
<part name="parameters" element="tns:szerzodestKot2016Response"/>
</message>
<portType name="GFBCalculatorBean">
<operation name="dijatKalkulal2009">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2009Request" message="tns:dijatKalkulal2009"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2009Response" message="tns:dijatKalkulal2009Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2009/Fault/CalculatorException"/>
</operation>
<operation name="szerzodestKot2011">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2011Request" message="tns:szerzodestKot2011"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2011Response" message="tns:szerzodestKot2011Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2011/Fault/CalculatorException"/>
</operation>
<operation name="alair2011">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2011Request" message="tns:alair2011"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2011Response" message="tns:alair2011Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2011/Fault/CalculatorException"/>
</operation>
<operation name="dokumentumGeneral2011">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2011Request" message="tns:dokumentumGeneral2011"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2011Response" message="tns:dokumentumGeneral2011Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2011/Fault/CalculatorException"/>
</operation>
<operation name="statuszLeker2011">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2011Request" message="tns:statuszLeker2011"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2011Response" message="tns:statuszLeker2011Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2011/Fault/CalculatorException"/>
</operation>
<operation name="alair2012">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2012Request" message="tns:alair2012"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2012Response" message="tns:alair2012Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2012/Fault/CalculatorException"/>
</operation>
<operation name="dokumentumGeneral2012">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2012Request" message="tns:dokumentumGeneral2012"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2012Response" message="tns:dokumentumGeneral2012Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2012/Fault/CalculatorException"/>
</operation>
<operation name="statuszLeker2012">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2012Request" message="tns:statuszLeker2012"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2012Response" message="tns:statuszLeker2012Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2012/Fault/CalculatorException"/>
</operation>
<operation name="alair2013">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2013Request" message="tns:alair2013"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2013Response" message="tns:alair2013Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2013/Fault/CalculatorException"/>
</operation>
<operation name="alair2014">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2014Request" message="tns:alair2014"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2014Response" message="tns:alair2014Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2014/Fault/CalculatorException"/>
</operation>
<operation name="alair2015">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2015Request" message="tns:alair2015"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2015Response" message="tns:alair2015Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2015/Fault/CalculatorException"/>
</operation>
<operation name="alair2016">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2016Request" message="tns:alair2016"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2016Response" message="tns:alair2016Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/alair2016/Fault/CalculatorException"/>
</operation>
<operation name="dokumentumGeneral2013">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2013Request" message="tns:dokumentumGeneral2013"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2013Response" message="tns:dokumentumGeneral2013Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2013/Fault/CalculatorException"/>
</operation>
<operation name="dokumentumGeneral2014">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2014Request" message="tns:dokumentumGeneral2014"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2014Response" message="tns:dokumentumGeneral2014Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2014/Fault/CalculatorException"/>
</operation>
<operation name="dokumentumGeneral2015">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2015Request" message="tns:dokumentumGeneral2015"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2015Response" message="tns:dokumentumGeneral2015Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2015/Fault/CalculatorException"/>
</operation>
<operation name="dokumentumGeneral2016">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2016Request" message="tns:dokumentumGeneral2016"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2016Response" message="tns:dokumentumGeneral2016Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dokumentumGeneral2016/Fault/CalculatorException"/>
</operation>
<operation name="statuszLeker2013">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2013Request" message="tns:statuszLeker2013"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2013Response" message="tns:statuszLeker2013Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2013/Fault/CalculatorException"/>
</operation>
<operation name="statuszLeker2014">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2014Request" message="tns:statuszLeker2014"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2014Response" message="tns:statuszLeker2014Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2014/Fault/CalculatorException"/>
</operation>
<operation name="statuszLeker2015">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2015Request" message="tns:statuszLeker2015"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2015Response" message="tns:statuszLeker2015Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2015/Fault/CalculatorException"/>
</operation>
<operation name="statuszLeker2016">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2016Request" message="tns:statuszLeker2016"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2016Response" message="tns:statuszLeker2016Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/statuszLeker2016/Fault/CalculatorException"/>
</operation>
<operation name="initDB">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/initDBRequest" message="tns:initDB"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/initDBResponse" message="tns:initDBResponse"/>
</operation>
<operation name="dijatKalkulal2010">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2010Request" message="tns:dijatKalkulal2010"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2010Response" message="tns:dijatKalkulal2010Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2010/Fault/CalculatorException"/>
</operation>
<operation name="dijatKalkulal2011">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2011Request" message="tns:dijatKalkulal2011"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2011Response" message="tns:dijatKalkulal2011Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2011/Fault/CalculatorException"/>
</operation>
<operation name="dijatKalkulal2012">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2012Request" message="tns:dijatKalkulal2012"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2012Response" message="tns:dijatKalkulal2012Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2012/Fault/CalculatorException"/>
</operation>
<operation name="dijatKalkulal2013">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2013Request" message="tns:dijatKalkulal2013"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2013Response" message="tns:dijatKalkulal2013Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2013/Fault/CalculatorException"/>
</operation>
<operation name="dijatKalkulal2014">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2014Request" message="tns:dijatKalkulal2014"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2014Response" message="tns:dijatKalkulal2014Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2014/Fault/CalculatorException"/>
</operation>
<operation name="dijatKalkulal2015">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2015Request" message="tns:dijatKalkulal2015"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2015Response" message="tns:dijatKalkulal2015Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2015/Fault/CalculatorException"/>
</operation>
<operation name="dijatKalkulal2016">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2016Request" message="tns:dijatKalkulal2016"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2016Response" message="tns:dijatKalkulal2016Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/dijatKalkulal2016/Fault/CalculatorException"/>
</operation>
<operation name="szerzodestKot2012">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2012Request" message="tns:szerzodestKot2012"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2012Response" message="tns:szerzodestKot2012Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2012/Fault/CalculatorException"/>
</operation>
<operation name="szerzodestKot2013">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2013Request" message="tns:szerzodestKot2013"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2013Response" message="tns:szerzodestKot2013Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2013/Fault/CalculatorException"/>
</operation>
<operation name="szerzodestKot2014">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2014Request" message="tns:szerzodestKot2014"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2014Response" message="tns:szerzodestKot2014Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2014/Fault/CalculatorException"/>
</operation>
<operation name="szerzodestKot2015">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2015Request" message="tns:szerzodestKot2015"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2015Response" message="tns:szerzodestKot2015Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2015/Fault/CalculatorException"/>
</operation>
<operation name="szerzodestKot2016">
<input wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2016Request" message="tns:szerzodestKot2016"/>
<output wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2016Response" message="tns:szerzodestKot2016Response"/>
<fault message="tns:CalculatorException" name="CalculatorException" wsam:Action="http://ws.gfb.insurance.khab.aamtech.com/GFBCalculatorBean/szerzodestKot2016/Fault/CalculatorException"/>
</operation>
</portType>
<binding name="GFBCalculatorBeanPortBinding" type="tns:GFBCalculatorBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dijatKalkulal2009">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="szerzodestKot2011">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="alair2011">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dokumentumGeneral2011">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="statuszLeker2011">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="alair2012">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dokumentumGeneral2012">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="statuszLeker2012">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="alair2013">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="alair2014">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="alair2015">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="alair2016">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dokumentumGeneral2013">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dokumentumGeneral2014">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dokumentumGeneral2015">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dokumentumGeneral2016">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="statuszLeker2013">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="statuszLeker2014">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="statuszLeker2015">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="statuszLeker2016">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="initDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dijatKalkulal2010">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dijatKalkulal2011">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dijatKalkulal2012">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dijatKalkulal2013">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dijatKalkulal2014">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dijatKalkulal2015">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="dijatKalkulal2016">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="szerzodestKot2012">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="szerzodestKot2013">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="szerzodestKot2014">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="szerzodestKot2015">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
<operation name="szerzodestKot2016">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CalculatorException">
<soap:fault name="CalculatorException" use="literal"/>
</fault>
</operation>
</binding>
<service name="GFBCalculatorBeanService">
<port name="GFBCalculatorBeanPort" binding="tns:GFBCalculatorBeanPortBinding">
<soap:address location="https://ws.atollgroup.eu/secure_weblogic/KHAB_WS/KHAB_WS_ENT-war/GFBCalculatorService"/>
</port>
</service>
</definitions>